// Define variables
$black: #000000;
$white: #ffffff;
$gray-light: #f2f2f2;
$gray-medium-dark: #999999;
$gray-dark: #333333;
$sleek-font: "Helvetica Neue", Arial, sans-serif;

.placeholder {
    font-family: $sleek-font;
    color: $gray-medium-dark;
    text-align: center;
}

.topContainer {
    display: flex;
    justify-content: space-between; /* Distribute items along the horizontal axis */
    align-items: center; /* Vertically center align items */
}

.generateButton {
    border-radius: 10%;
    font-family: $sleek-font;
    font-weight: bold;
    color: $gray-dark;
    height: 25px;
    border: none;
    transition: color 0.3s, box-shadow 0.3s;

    &:hover {
        cursor: pointer;
        color: $gray-medium-dark;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}